@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap");

:root {
  --body: #f0f6f9;
  --text: #250e04;
  --secondary: #d8c4ad;
  --black: #1c1c1c;
  --white: #eaeeff;
  --dark-orange: #250e04;
  --orange: #ef946c;
  --green: #214f4b;
}

body {
  background-color: var(--body);
  font-family: "Oswald", sans-serif;
  color: var(--text);
}

h1 {
  color: var(--orange);
}

div a {
  display: inline-block;
  position: relative;
}
.colored-block {
  /*background: #2a2a2a;*/
  text-align: center;
  /*color: #e5e5e5;*/
  border-radius: 12px;
}

.transparent-block {
  background: transparent;
  margin: 8vw;
  text-align: center;
  padding: 4vw;
  padding-bottom: 6vw !important;
  /*color: white;*/
  border-radius: 12px;
}

.colored-block-sm {
  margin: 1vw;
  text-align: center;
  padding: 0.5rem;
  color: var(--body);
  background: var(--green);
  border-radius: 17px;
  display: inline-block !important;
  border: 2px solid;
}

.hr {
  color: inherit;
  border: 0;
  border-radius: 12px;
  opacity: 0.85;
}

.amount,
.amount:focus {
  background: none;
  border: none;
  color: var(--orange);
  box-shadow: none;
  outline: none;
}

.btn {
  color: var(--orange);
  text-decoration: none !important;
  background-color: transparent;
  border-radius: 3px;
  border: var(--orange) 1px solid;
}

.btn:hover {
  color: var(--orange);
  background-color: var(--body);
  border-radius: 3px;
  border: var(--orange) 1px solid;
  transition: all 200ms;
}

.logincard {
  background: var(--orange);
  color: var(--white);
}

.logincard .btn:hover {
  color: var(--orange);
  background-color: var(--body);
  border-radius: 3px;
  border: var(--orange) 1px solid;
  transition: all 200ms;
}
.logincard .btn {
  color: var(--body);
  background-color: var(--orange);
  border-radius: 3px;
  border: var(--body) 1px solid;
  transition: all 200ms;
}

h5.card-header {
  color: var(--orange);
  background: #f0f2f8;
  border-radius: 5px !important;
}
