{% extends "layout.html" %}

{% block profile %}
    </div>
    <div id="Sidenav" class="d-flex flex-column flex-shrink-0 sidenav">
    <div class="mb-auto">
          <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
          <a href="/">Home</a>
          <a href="/watchlist">Watch List</a>
          <a href="/history">History</a>
          <a href="#">Settings</a>
    </div>

        <hr class="bg-dark">
    <div class="dropdown" id="usermenutoggle">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" >
          {{session["full_name"]}}      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" id="usermenu" style="display: none; left: 30px;bottom: 70px">
        <li><a class="dropdown-item text-1" href="/logout">Sign out</a></li>
      </ul>
    </div>
</div>
<!-- Use any element to open the sidenav -->
    <div class="d-flex bd-highlight mb-2 sticky-top shadow-sm" style="background: inherit">
<span class=" ms-4 mt-2 mb-2" style="font-size:30px;cursor:pointer;z-index: 2000" onclick="toggleNav()">&#9776; InveStock</span>
        <div class="d-none d-md-inline p-2 bd-highlight">{{ session["budget"] }} flow<br>{{ session["stocksmoney"] }} invested</div>
        <div class="p-2 bd-highlight d-inline-block ms-auto">
    <form class="" action="/search" method="post">
    <input type="text" class="search form-control mt-2" id="search" name="search" placeholder="Search">
</form>

</div>
                    <hr size="5" class="mb-1 hr" noshade>
    </div>
{% if stock %}
     <div class="row justify-content-center">
         <div class="col-6 d-block text-center search text-white shadow-lg">
         <p class="text-2 m-0">{{ stock['symbol'] }}</p>
         <p class="text-0 m-2">Name: {{ stock['name'] }}</p>
         <p class="text-0 m-2">Price: ${{stock['price']}}</p>
         <p class="text-0 m-2">Primary Exchange: {{ stock['primaryExchange']}}</p>
         <p class="text-0 m-2">Change Percent: {{ stock['quote']['change'] }}</p>
             <form action="/addwatchlist" method="post">
                 <input value="{{ stock['symbol'] }}" name="symbol" style="display: none">
                 <button type="submit"  class="btn btn-outline-success" >Add To Watchlist</button>
             </form>
             <div class="row">
                   <div class="col-6">
<form action="/buy" method="post" class="m-2">
                 <input value="{{ stock['symbol'] }}" name="symbol" style="display: none">
                         <input value="1" name="amount" min="1" type="number" class="form-control amount text-center">
<br>
                     <button type="submit"  class="btn btn-outline-success mb-1" >Buy</button>
             </form>
      </div>
      <div class="col-6">
                               <form action="/sell" method="post" class="m-2">
                 <input value="{{ stock['symbol'] }}" name="symbol" style="display: none">
                 <input value="1" name="amount" type="number" min="1" class="form-control amount text-center">
                                   <br>

                 <button type="submit"  class="btn btn-outline-success mb-1" >Sell</button>
             </form>
     </div>
         </div>
     </div>
     </div>

    {% endif %}
{% endblock %}