{% extends "layout.html" %} {% block profile %}
<div id="Sidenav" class="d-flex flex-column flex-shrink-0 sidenav">
  <div class="mb-auto">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()"
      >&times;</a
    >
    <a href="/">Home</a>
    <a href="/watchlist">Watch List</a>
    <a href="/history">History</a>
    {# <a href="#">Settings</a>#}
  </div>

  <hr class="bg-dark w-75" />
  <div class="dropdown" id="usermenutoggle">
    <a
      href="#"
      class="d-flex align-items-center text-white text-decoration-none dropdown-toggle mb-3"
    >
      {{session["full_name"]}}
    </a>
    <ul
      class="dropdown-menu dropdown-menu-dark text-small shadow"
      id="usermenu"
      style="display: none; left: 30px; bottom: 70px"
    >
      <li><a class="dropdown-item fs-4" href="/logout">Sign out</a></li>
    </ul>
  </div>
</div>
<!-- Use any element to open the sidenav -->
<div class="shadow-lg header">
  <div class="d-flex bd-highlight mb-2 sticky-top">
    <span
      class="ms-4 mt-2 mb-2"
      style="font-size: 30px; cursor: pointer; z-index: 2000"
      onclick="toggleNav()"
      >&#9776;</span
    >
    <p class="ms-2 mt-4">
      <muted class="fs-6">welcome back,<br /></muted> {{session["full_name"]}}
    </p>
    <div class="align-items-center text-center ms-auto mt-3 d-none d-md-block">
      <ul
        class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"
      >
        <li>
          <p class="nav-link text-white pb-1 m-0">
            <span class="material-icons-outlined fs-4"> savings </span>
            <br />
            Balance
          </p>

          <hr size="4" class="mb-0 m-2 mt-0 hr" noshade />
          <p class="mt-0">{{ session["budget"] }}</p>
        </li>
        <li>
          <p class="nav-link text-white pb-1 mb-0">
            <span class="material-icons-outlined fs-4"> attach_money </span>
            <br />
            Protfolio
          </p>

          <hr size="4" class="mb-0 m-2 mt-0 hr" noshade />
          <p class="mt-0">{{ session["stocksmoney"] }}</p>
        </li>
        <li>
          <p class="nav-link text-white pb-1 mb-0">
            <span class="material-icons-outlined fs-4"> trending_up </span>
            <br />
            Profit
          </p>

          <hr size="4" class="mb-0 m-2 mt-0 hr" noshade />
          <p class="mt-0">{{ session['Profit'] }}</p>
        </li>
      </ul>
    </div>
    <div class="p-2 bd-highlight d-inline-block ms-auto">
      <form class="" action="/search" method="post">
        <input
          type="text"
          class="search form-control mt-2"
          id="search"
          name="search"
          placeholder="Search"
        />
      </form>
    </div>
    <br />
  </div>
  <div class="m-auto d-block justify-content-center text-center">
    <div class="align-items-center text-center ms-auto mt-3 d-block d-md-none">
      <ul
        class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"
      >
        <li>
          <p class="nav-link text-white mb-0">
            <span class="material-icons-outlined fs-4"> savings </span>
            <br />
            Balance
            <br />
          </p>
          <p class="mt-0">{{ session["budget"] }}</p>
        </li>
        <li>
          <p class="nav-link text-white mb-0">
            <span class="material-icons-outlined fs-4"> attach_money </span>
            <br />
            Protfolio
            <br />
          </p>
          <p class="mt-0">{{ session["stocksmoney"] }}</p>
        </li>
        <li>
          <p class="nav-link text-white mb-0">
            <span class="material-icons-outlined fs-4"> trending_up </span>
            <br />
            Profit
            <br />
          </p>
          <p class="mt-0">{{ session["Profit"] }}</p>
        </li>
      </ul>
    </div>
    <p class="d-inline-block text-danger m-0">{{error}}</p>
  </div>
</div>

{% if stock %}
<div class="row row-cols-1 row-cols-md-3 g-4 m-auto justify-content-center">
  <div class="col">
    <div class="card border-0 shadow-lg">
      <div class="card-body">
        <h5 class="card-header text-center shadow-sm">
          {{ stock['symbol'] }}, {{ stock['name'] }}
        </h5>
        <div class="row">
          <p class="col-3 fw-normal" style="text-align: left">Price</p>
          <p class="col-9 fw-light" style="text-align: right">
            ${{stock['price']}}
          </p>
        </div>
        <div class="row">
          <p class="col-4 fw-normal" style="text-align: left">Market</p>
          <p class="col-8 fw-light" style="text-align: right">
            {{ stock['primaryExchange']}}
          </p>
        </div>
      </div>

      <ul
        class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"
      >
        <li>
          <form action="/buy" method="post" class="m-0 text-center">
            <input
              value="{{ stock['symbol'] }}"
              name="symbol"
              style="display: none"
            />
            <input
              value="1"
              name="amount"
              min="1"
              type="number"
              class="form-control amount text-center"
            />
            <button type="submit" class="btn btn-outline-success mb-1">
              Buy
            </button>
          </form>
        </li>
        <li>
          <form action="/sell" method="post" class="m-0 text-center">
            <input
              value="{{ stock['symbol'] }}"
              name="symbol"
              style="display: none"
            />
            <input
              value="1"
              name="amount"
              type="number"
              min="1"
              class="form-control amount text-center"
            />

            <button type="submit" class="btn btn-outline-success mb-1">
              Sell
            </button>
          </form>
        </li>
      </ul>
      <form action="/addwatchlist" method="post" class="text-center">
        <input
          value="{{ stock['symbol'] }}"
          name="symbol"
          style="display: none"
        />
        <button type="submit" class="btn btn-outline-success m-2">
          Add To Watchlist
        </button>
      </form>
    </div>
  </div>
</div>

{% endif %} {% endblock %}
