{% extends "profile.html" %}

{% block body %}
    <h1 class="text-center text-2">{{ session["full_name"] }}'s Watch List</h1>


    </div>
        <div class="row justify-content-center">
    {% for stock in session['watch_list'] %}
<div class="col-5 col-md-2 colored-block-sm">
         <p class="text-2 m-0">{{ stock['symbol'] }}</p>
         <p class="text-0 m-2">Name: {{ stock['name'] }}</p>
         <p class="text-0 m-2">Price: ${{stock['price']}}</p>
         <p class="text-0 m-2">Primary Exchange: {{ stock['primaryExchange']}}</p>
         <p class="text-0 m-2">Change Percent: {{ stock['quote']['change'] }}</p>
     <hr>

<form action="/buy" method="post" class="m-2">
                 <input value="{{ stock['symbol'] }}" name="symbol" style="display: none">
                     <input value="1" name="amount" type="number" class="form-control amount w-50 d-inline">
                 <button type="submit"  class="btn btn-outline-success mb-1" >Buy</button>
             </form>
                               <form action="/sell" method="post">
                 <input value="{{ stock['symbol'] }}" name="symbol" style="display: none">
                 <input value="1" name="amount" type="number" class="form-control amount w-50 d-inline">
                 <button type="submit"  class="btn btn-outline-success mb-1" >Sell</button>
             </form>

            </div>

{% endfor %}


</div>{% endblock %}